.formWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: var(--color-gray);
}

.field {
  border-radius: 12px;
  padding: 12px 16px;
  background-color: var(--color-inputs);
  border: none;
  cursor: pointer;
}

.brandSelect {
  width: 204px;
}

.priceSelect {
  width: 196px;
}

.mileageWrapper {
  display: flex;
  width: 320px;
}

.mileageInput {
  padding: 12px 0 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  background-color: var(--color-inputs);
  border: none;
  border-radius: 0 12px 12px 0;

  width: 160px;

  cursor: pointer;
  &::placeholder {
    color: var(--color-main);
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
    border-right: 1px solid var(--color-gray-light);
  }
}
