.formWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: var(--color-gray);
}

.field {
  border-radius: 12px;
  padding: 10px 16px;
  background-color: var(--color-inputs);
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.brandSelect {
  width: 204px;
}

.priceSelect {
  width: 196px;
}

.mileageWrapper {
  display: flex;
  width: 320px;
}

.mileageInput {
  border: none;
  background-color: var(--color-inputs);
  cursor: pointer;
  width: 90px;
}

.mileageInput:focus {
  outline: none;
}

.prefix {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-main);
  padding-right: 2px;
}

.inputWithPrefix {
  display: flex;
  width: 160px;
  padding: 12px 0 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  border-radius: 0 12px 12px 0;

  background-color: var(--color-inputs);

  &:first-child {
    border-radius: 12px 0 0 12px;
    border-right: 1px solid var(--color-gray-light);
  }
}
